/*---CASE-STUDY-DESKTOP---------------------------------------------------*/

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  /*---SECTIONS-------*/

  .section-break {
    margin-top: 13.6rem;
    padding-bottom: 3.2rem;
    width: 75%;
  }

  .section-title {
    left: 0;
    padding: 0 5rem 0 0;
    transform: none;
  }

  /*---CONTAINERS-----*/

  .text-container {
    max-width: none;
    width: 60rem;
  }

  .flex-text-container {
    width: 60rem;
  }

  .flex-img-container {
    max-width: none;
    padding: 0 2rem;
  }

  /*---BUTTONS--------*/

  .button-wrapper {
    margin: 1.6rem auto 6.4rem;
  }

  /*---CASE-STUDY-"HERO"---*/

  .case-study-hero-content {
    margin-top: 28.2rem;
  }

  .case-study-intro {
    margin-top: 3.2rem;
    width: 80rem;
  }

  .case-study-hero-img-container, .case-study-conclusion-img-container {
    max-width: 126rem;
  }

  .chartchat-mobile-images {
    max-width: 110rem;
  }

  .stratus-humaaans {
    display: block;
    padding-top: 3.2rem;
  }

  .stratus-desktop-1 {
    margin: 0 2rem 0;
  }

  .stratus-mobile {
    display: block;
    margin: 0 0 -12rem 4rem;
  }

  .case-study-hero-content p {
    max-width: none;
    width: 62.5rem;
  }

  /*---OVERVIEW------*/

  .roles-deliverables-tools {
    height: 105.5rem;
  }

  .deliverables {
    height: 63.5rem;
  }

  /*---USER SURVEY---*/

  .chartjs-wrapper-1, .chartjs-wrapper-2, .chartjs-wrapper-3, .chartjs-wrapper-4, .chartjs-wrapper-5, .chartjs-wrapper-6 {
    margin: 4rem 2rem 0;
    padding-bottom: 23rem;
  }

  .chartjs-wrapper-2 {
    padding-bottom: 18rem;
  }

  .chartjs-wrapper-5 {
    height: 50rem;
  }

  .user-survey-stat {
    text-align: left;
  }

  /*---COMP-ANALY----*/

  .comp-analy-images, .comp-analy-images-2 {
    height: 54rem;
    margin: 0 2rem;
    width: 53rem;
  }

  .comp-analy-images-2 {
    height: 25.6rem;
  }

  .comp-analy-logo-1 {
    left: auto;
  }

  .comp-analy-logo-2 {
    right: 0;
  }

  .comp-analy-logo-3 {
    margin-left: -12.8rem;
  }

  .comp-analy-logo-4 {
    left: 0;
  }

  .comp-analy-logo-5 {
    left: 19.5rem
  }

  .comp-analy-logo-6 {
    left: 0;
    top: 8.8rem;
  }

  .comp-analy-logo-7 {
    left: 15.5rem;
    top: 8.8rem;
  }

  .comp-analy-logo-8 {
    left: 0;
    top: 17.6rem;
  }

  .comp-analy-logo-9 {
    left: 16.8rem;
    top: 17.6rem;
  }

  /*---USER-PERSONAS---*/

  .user-persona-card {
    height: 115rem;
    width: 32.7rem;
  }

  .user-persona-card-height-2 {
    height: 123.2rem;
  }

  .persona-background {
    width: 32.7rem;
  }

  .user-persona-job {
    top: -6.65rem;
  }

  .user-persona-big-quotation-mark-1, .user-persona-big-quotation-mark-2, .user-persona-big-quotation-mark-3 {
    top: 10.5rem;
  }

  /*---USER-STORIES-&-FLOWS--*/

  .information-architecture .section-break .section-title {
    margin-top: 0;
  }

  .info-arch-line-break {
    display: none;
  }

  .user-stories-flows .img-container {
    display: block;
  }

  table {
    border-collapse: collapse;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 auto;
  }

  .first-column, .first-column-title {
    width: 16rem;
  }

  .first-column {
    text-align: right;
  }

  table, th, td {
    border: 0.1rem solid #121212;
    text-align: left;
  }

  th, td {
    padding: 0.8rem 2rem;
  }

  .user-stories-flows .flex-content {
    margin-bottom: 4rem;
  }

  /*---WIREFRAMES----*/

  .wireframes .wireframe-sketches {
    overflow: hidden;
  }

  .wireframe-sketches-container-1, .wireframe-sketches-container-2 {
    height: 54rem;
    margin: 0 -10rem -4rem;
    max-width: none;
    position: relative;
    width: 70rem;
  }

  .wireframe-sketch-1, .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-sketch-4 {
    margin-top: 0;
    position: absolute;
  }

  .wireframe-sketch-1, .wireframe-sketch-3 {
    left: 4rem;
    margin: 0;
    transform: rotate(-10deg);
  }

  .wireframe-sketch-2, .wireframe-sketch-4 {
    margin: 0;
    right: 4rem;
    transform: rotate(10deg);
  }

  /*---USABILITY-TESTING-1---*/

  .usability-testing-container {
    margin: 4rem auto;
    width: 55rem;
  }

  .usability-testing-persona-element {
    width: 14.7rem;
  }

  .usability-testing-tasks-element {
    margin: 2.4rem 0 0 22rem;
    width: 32rem;
  }

  /*---BRANDING------*/

  .branding .flex-img-container {
    max-width: none;
  }

  .branding-sketch-1 {
    margin: 2rem 2rem -10rem;
  }

  .branding-sketch-2 {
    transform: rotate(-10deg);
  }

  .branding-sketch-3 {
    margin: -8rem 0 0 0;
    transform: rotate(0deg);
  }

  .branding-sketch-4 {
    margin: -4rem 0 0 -4rem;
    transform: rotate(5deg);
  }

  .branding-sketch-5 {
    margin: 2rem 2rem -10rem;
  }

  .branding-sketch-6 {
    transform: rotate(-10deg);
  }

  .branding-sketch-7 {
    margin: -8rem 0 0 0;
    transform: rotate(0deg);
  }

  .branding-sketch-8 {
    margin: -4rem 0 0 -4rem;
    transform: rotate(5deg);
  }

  /*---HIGHFI-MOCKUPS---*/

  .highfi-mockups-img-overlay-1 {
    height: 93.5rem;
    width: 61.6rem;
  }

  .highfi-mockups-img-overlay-2 {
    height: 39.4rem;
    width: 44.2rem;
  }

  .highfi-mockups-img-overlay-3 {
    height: 39.6rem;
    width: 44.2rem;
  }

  .highfi-mockups-img-overlay-4 {
    height: 110rem;
    width: 75.4rem;
  }

  .highfi-mockups-img-overlay-5 {
    height: 52.5rem;
    width: 57.5rem;
  }

  .highfi-mockup-1, .highfi-mockup-2 {
    left: 0;
  }

  .highfi-mockup-1 {
    top: 2.5rem;
  }

  .highfi-mockup-3, .highfi-mockup-4, .highfi-mockup-5, .highfi-mockup-6 {
    top: 2.5rem;
  }

  .highfi-mockup-3, .highfi-mockup-5 {
    left: 0;
  }

  .highfi-mockup-6 {
    right: 0.75rem;
  }

  .highfi-mockup-7 {
    top: 2.5rem;
  }

  .highfi-mockup-8 {
    margin-left: -11.6rem;
    top: 2.5rem;
  }

  .highfi-mockup-9 {
    top: 2.5rem;
  }

  .highfi-mockup-11 {
    margin-left: -11.6rem;
  }

  .highfi-mockup-13 {
    top: 2.5rem;
  }

  .highfi-mockup-14 {
    top: 2.5rem;
  }

  .down-arrow, .right-arrow {
    margin: -2.5rem 0 0 -2.5rem;
  }

  .down-arrow {
    top: 51%;
  }

  .highfi-mockups-img-overlay-1 .before {
    left: 0;
  }

  .highfi-mockups-img-overlay-1 .after {
    top: 50.5%;
    left: 0.25%;
  }

  .highfi-mockups-img-overlay-2 .before {
    left: 0;
  }

  .highfi-mockups-img-overlay-2 .after {
    left: 53%;
  }

  .highfi-mockups-img-overlay-3 .before {
    left: 0;
  }

  .highfi-mockups-img-overlay-3 .after {
    left: 53.5%;
  }

  .highfi-mockups-img-overlay-4 .before {
    left: 0;
  }

  .highfi-mockups-img-overlay-4 .after {
    top: 52.25%;
  }

  .highfi-mockups-img-overlay-5 .before {
    left: 4%;
  }

  .highfi-mockups-img-overlay-5 .after {
    left: 56.5%;
  }

  /*---PREFERENCE-TESTING---*/

  .preference-test-img-overlay-1 {
    height: 61.7rem;
    width: 57.5rem;
  }

  .preference-test-img-overlay-2 {
    height: 57.5rem;
    width: 37.1rem;
  }

  .preference-testing-2, .preference-testing-4 {
    bottom: 4rem;
    right: 1rem;
  }

  .preference-test-img-overlay-1 .percentage {
    left: 60%;
    margin-left: -9rem;
  }

  .preference-test-img-overlay-2 .percentage {
    left: 41%;
    width: auto;
  }

  /*---USABILITY-TESTING-2---*/

  .document-iframe {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    display: block;
    margin: 0 auto 4rem;
  }

  .usability-test-img-overlay-1 {
    height: 105.1rem;
    width: 69.5rem;
  }

  .usability-test-img-overlay-2 {
    height: 58.5rem;
    width: 42.4rem;
  }

  .usability-test-img-overlay-3 {
    height: 38.5rem;
    width: 42.4rem;
  }

  .usability-test-img-overlay-4 {
    height: 52.5rem;
    width: 53.5rem;
  }

  .usability-test-img-overlay-5 {
    height: 52.5rem;
    width: 40.125rem;
  }

  .usability-testing-results-1, .usability-testing-results-3 {
    top: 2.5rem;
  }

  .usability-testing-results-5, .usability-testing-results-6 {
    top: 2.5rem;
  }

  .usability-testing-results-5 {
    left: 0;
  }

  .usability-testing-results-7 {
    position: absolute;
    top: 2.5rem;
  }

  .usability-testing-results-8 {
    position: absolute;
    top: 2.5rem;
  }

  .usability-testing-results-9 {
    margin-left: -11.6rem;
    position: absolute;
    top: 2.5rem;
  }

  .usability-test-img-overlay-1 .after {
    top: 50.2%;
  }

  .usability-test-img-overlay-2 .after {
    top: 50%;
  }

  .usability-test-img-overlay-4 .before {
    left: 0.5%;
  }

  .usability-test-img-overlay-4 .after {
    left: 57%;
  }

  /*---CONCLUSION---*/

  .final-thanks {
    margin: 5.6rem 0 16rem;
  }

  .back-to-top-element {
    margin: -8rem 0 0 -8rem;
    width: 16rem;
  }

}

/*---DESKTOP-2------------------------------------------*/

@media screen and (min-width: 1200px) {

  /*---OVERVIEW------*/

  .roles-deliverables-tools {
    height: 42.6rem;
    width: 104rem;
  }

  .role, .tools {
    height: 42.6rem;
  }

  .role {
    border-right: 0.1rem solid #878787;
    left: 0;
  }

  .deliverables {
    bottom: 0;
    height: 42.5rem;
    margin-left: -29.4rem;
    width: 58.8rem;
  }

  .tools {
    right: 0;
  }

  .role .overview-list, .tools .overview-list {
    text-align: left;
  }

  .list-pt-1, .list-pt-2 {
    margin-top: -2.1rem;
    position: absolute;
    text-align: left;
  }

  .list-pt-1 {
    left: 7.8rem;
  }

  .list-pt-2 {
    right: 7.4rem;
  }

  .problem-solution {
    height: 28.8rem;
    margin: 2.4rem auto 0;
    position: relative;
    width: 104rem;
  }

  .problem {
    border-bottom: none;
    border-right: 0.1rem solid #878787;
    padding-right: 4rem;
    position: absolute;
    left: 2.5rem;
  }

  .solution {
    position: absolute;
    right: 2rem;
  }

}

/*---MEDIA-QUERIES---*/

@media screen and (min-width: 1400px) {

  /*---BRANDING------*/

  .flex-content-alt .flex-text-container {
    margin-top: 5.6rem;
  }

  .logo-iterations-stratus, .brand-colors-stratus, .brand-typography-stratus,
   .logo-iterations-chartchat, .brand-colors-chartchat, .brand-typography-chartchat {
    margin-bottom: -4rem;
  }

  .moodboard-stratus {
    margin: -2rem 0 -8rem;
  }

  .branding .button-wrapper {
    margin-top: 5.6rem;
  }

}

@media screen and (min-width: 1400px) {

/*---COMP-ANALY----*/

  .comp-analy-images-2 {
    height: 52rem;
    margin: 0 4rem;
    width: 32rem;
  }

  .comp-analy-logo-4 {
    left: 0;
  }

  .comp-analy-logo-5 {
    left: 0;
    top: 8.8rem;
  }

  .comp-analy-logo-6 {
    left: 0;
    top: 17.6rem;
  }

  .comp-analy-logo-7 {
    left: 0;
    top: 26.4rem;
  }

  .comp-analy-logo-8 {
    left: 0;
    top: 35.2rem;
  }

  .comp-analy-logo-9 {
    left: 0;
    top: 44rem;
  }
}
