/*---COLOR----------------------------------------------------------------*/

/*---MOBILE-1-------------------------------------------*/

body {
  background-color: #121212;
  color: #FFFFFF;
}

.case-study-body, .case-study-main {
  background-color: #E3E3E3;
  color: #000000;
}

.case-study-header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 100%);
  background-color: #121212;
}

nav {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  background-color: #121212;
}

.case-study-footer {
  color: #FFFFFF;
}

.contact {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
}

.case-study-contact {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: #121212;
  color: #FFFFFF;
}

.hero, .about-hero {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 100%);
}

.hamburger-menu-backing-hero-curtain, .hamburger-menu-backing-about-hero-curtain {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 100%);
  background-color: #121212;
}

.hamburger-menu-backing {
  background-color: #232323;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #00B8A2;
}

.work-content a:hover {
  color: #FFFFFF;
}

.back-to-top-element, .back-to-top-element:hover {
  color: #000000;
}

.button-style-1 {
  background-color: #00796B;
}

.button-style-2 {
  background-color: #45266A;
}

.button-style-3 {
  background-color: #E1261C;
}

.button-style-4 {
  background-color: #121212;
}

.project-card-button-wrapper a:hover, .button-wrapper a:hover {
  color: #FFFFFF;
}

.project-card {
  background: rgba(255, 255, 255, 0.07);
}

.project-card h3 {
  background: rgba(255, 255, 255, 0.07);
}

 .project-roles, .project-description {
  background: rgba(255, 255, 255, 0.04);
}

.eight-bit-highlight {
  color: #E1261C;
}

.quote-container {
  background-color: rgba(255, 255, 255, 0.07);
}

.big-quotation-mark {
  color: #00796B;
}

.grey-out-text {
  opacity: 0.6;
}

hr {
  background-color: #878787;
}

.section-title {
  background-color: #E3E3E3;
}

.heading-block {
  background-color: #00796B;
}

.border-break-role, .border-break-tools {
  background-color: #E3E3E3;
}

.chartjs-wrapper-1, .chartjs-wrapper-2 {
  background-color: #DADADA;
}

.user-survey-stat-container {
  background-color: #DADADA;
}

.user-persona-card {
  background-color: #FFFFFF;
}

.persona-background {
  background-color: #121212;
}

.user-persona-job {
  background-color: #4D4D4D;
  color: #FFFFFF;
}

.user-persona-big-quotation-mark-1 {
  color: #00796B;
}

.user-persona-big-quotation-mark-2 {
  color: #45266A;
}

.user-persona-big-quotation-mark-3 {
  color: #E1261C;
}

.first-column-title {
  border-right-color: #FFFFFF;
}

th {
  background-color: #121212;
  color: #FFFFFF;
}

tr {
  background-color: #FFFFFF;
}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  nav {
    background: transparent;
  }

  .project-card:hover {
    background: rgba(255, 255, 255, 0.1);
  }

}
