/*---IMAGES LAYOUT--------------------------------------------------------*/

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*---HEADER---------------------*/

.logo {
  float: left;
  height: 8.3rem;
}

/*---HERO-----------------------*/

.eight-bit-alien {
  height: 11.1rem;
}

/*---WORK-----------------------*/

.project-image {
  border-radius: 0.4rem 0.4rem 0 0;
}

/*---CONTACT--------------------*/

.email {
  height: 6.4rem;
}

.resume {
  height: 9.5rem;
}

.social-icon {
  height: 5.6rem;
}

/*---ABOUT HERO-----------------*/

.profile-image {
  height: 52.8rem;
}

/*---BIO----------------------*/

.tshirt-wall {
  /*USED AUTO ABOVE*/
}

/*---CASE STUDY-----------------*/

.stratus-logo {
  height: 7.4rem;
}

.stratus-humaaans {
  height: 28rem;
  max-height: 28rem;
}

.stratus-on-devices-1 {
  max-height: 50rem;
}

.stratus-on-devices-2 {
  max-height: 63.9rem;
}

.stratus-simple-structured-seamless {
  max-height: 31.5rem;
}

.role-icon {
  height: 5.7rem;
}

.deliverables-icon {
  height: 6.3rem;
}

.tools-icon {
  height: 6.3rem;
}

.comp-analy-logo-1, .comp-analy-logo-2, .comp-analy-logo-3 {
  height: 21rem;
}

.user-persona {
  height: 27.2rem;
}

.user-persona-scale {
  height: 3.2rem;
}

.basic-file-management-operations-user-flow {
  height: 79.8rem;
}

.sharing-links-user-flow {
  height: 59.8rem;
}

.wireframe-sketch-1, .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-sketch-4 {
  max-height: 43.2rem;
}

.digital-wireframe {
  width: 54.6rem;
}

.video-iframe {
  height: 74.5rem;
  width: 128rem;
}

.document-iframe {
  height: 74.5rem;
  width: 80rem;
}

.usability-testing-persona {
  height: 14.7rem;
}

.branding-sketch-1 {
  height: 42.7rem;
}

.branding-sketch-2 {
  height: 42.7rem;
}

.branding-sketch-3 {
  height: 38.4rem;
}

.branding-sketch-4 {
  height: 38.4rem;
}

.moodboard {
  height: 36.5rem;
}

.logo-iterations {
  height: 40rem;
}

.brand-colors {
  height: 17.4rem;
}

.brand-typography {
  height: 20rem;
}

.right-arrow {
  height: 5rem;
}

.down-arrow {
  height: 5.5rem;
}

.highfi-mockup-1 {
  height: 43.2rem;
}

.highfi-mockup-2 {
  height: 43.2rem;
}

.highfi-mockup-3 {
  height: 35.9rem;
}

.highfi-mockup-4 {
  height: 35.9rem;
}

.highfi-mockup-5 {
  height: 38.6rem;
}

.highfi-mockup-6 {
  height: 38.6rem;
}

.preference-testing-1 {
  height: 35.9rem;
}

.preference-testing-2 {
  height: 35.9rem;
}

.preference-testing-3 {
  height: 44.1rem;
}

.preference-testing-4 {
  height: 44.1rem;
}

.usability-testing-results-1 {
  height: 49.1rem;
}

.usability-testing-results-2 {
  height: 49.1rem;
}

.usability-testing-results-3 {
  height: 25.1rem;
}

.usability-testing-results-4 {
  height: 25.1rem;
}

.usability-testing-results-5 {
  height: 35rem;
}

.usability-testing-results-6 {
  height: 35rem;
}


/*---MEDIA QUERIES--------------------------------------------------------*/

@media screen and (min-width: 60.4rem) {

/*To make this "mobile-first" all the layout I do above should actually go here and then the mobile layout should go above... RIGHT? - Use min or max width?*/

}

@media screen and (max-width: 37.5rem) {

/*To make this "mobile-first" all the layout I do above should actually go here and then the mobile layout should go above... RIGHT? - Use min or max width?*/

}
