/*---IMAGES-LAYOUT--------------------------------------------------------*/

/*---MOBILE-1-------------------------------------------*/

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*---HEADER---------------------*/

.logo {
  height: 5.7rem;
}

.hamburger-menu-icon {
  height: 2.2rem;
}

.close-nav-menu-icon {
  height: 2.3rem;
}

/*---CONTACT--------------------*/

.email, .email-1, .email-2 {
  height: 4.2rem;
}

.resume, .resume-1, .resume-2 {
  height: 6.23rem;
}

.social-icon {
  height: 4rem;
}

/*---HERO-----------------------*/

.eight-bit-alien-1, .eight-bit-alien-2, .eight-bit-alien-3 {
  height: 4.8rem;
}

/*---ABOUT HERO-----------------*/

.profile-image {
  height: 51.8rem;
}

/*---CASE STUDY-----------------*/

.stratus-logo {
  height: 5rem;
}

.stratus-desktop-1 {
  max-height: 40rem;
}

.role-icon {
  height: 3.2rem;
}

.deliverables-icon {
  height: 3.6rem;
}

.tools-icon {
  height: 3.6rem;
}

.comp-analy-logo-1, .comp-analy-logo-2, .comp-analy-logo-3 {
  height: 12rem;
}

.user-persona {
  height: 27.2rem;
}

.user-persona-scale {
  height: 3.2rem;
}

.basic-file-management-operations-user-flow, .sharing-links-user-flow, .wireframe-sketch-1,
 .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-sketch-4, .digital-wireframe-1,
  .digital-wireframe-2, .digital-wireframe-3, .digital-wireframe-4 {
  width: auto;
}

.usability-testing-persona {
  height: 10rem;
}

.video-iframe {
  height: 17.43rem;
  width: 30rem;
}

.branding-sketch-1, .branding-sketch-2, .branding-sketch-3, .branding-sketch-4 {
  width: auto;
}

.moodboard, .logo-iterations, .brand-colors, .brand-typography {
  width: auto;
}

.right-arrow {
  height: 3.8rem;
}

.down-arrow {
  height: 4.2rem;
}

.highfi-mockup-1, .highfi-mockup-2 {
  width: 28rem;
}

.highfi-mockup-3, .highfi-mockup-4, .highfi-mockup-5 {
  width: 13rem;
}

.highfi-mockup-6 {
  width: 12.82rem;
}

.preference-testing-1, .preference-testing-2 {
  width: 28rem;
}

.preference-testing-3, .preference-testing-4 {
  height: 29.9rem;
}

.usability-testing-results-1, .usability-testing-results-2, .usability-testing-results-3,
 .usability-testing-results-4 {
  width: 28rem;
}

.usability-testing-results-5, .usability-testing-results-6 {
  width: 13rem;
}

.stratus-desktop-2 {
  max-height: 63.9rem;
}

/*---MOBILE-2-------------------------------------------*/

@media screen and (min-width: 600px) {

  /*---HERO-----------------------*/

  .eight-bit-alien-1, .eight-bit-alien-2, .eight-bit-alien-3 {
    height: 6.6rem;
  }

  /*---ABOUT HERO-----------------*/

  .profile-image {
    height: 43.2rem;
  }

  /*---CASE STUDY-----------------*/

  .role-icon {
    height: 5.7rem;
  }

  .deliverables-icon {
    height: 6.3rem;
  }

  .tools-icon {
    height: 6.3rem;
  }

  .comp-analy-logo-1, .comp-analy-logo-2, .comp-analy-logo-3 {
    height: 19rem;
  }

  .video-iframe {
    height: 29.05rem;
    width: 50rem;
  }

}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  /*---HEADER---------------------*/

  .logo {
    height: 8.3rem;
  }

  /*---CONTACT--------------------*/

  .email, .email-1, .email-2 {
    height: 6.4rem;
  }

  .resume, .resume-1, .resume-2 {
    height: 9.5rem;
  }

  .social-icon {
    height: 5.6rem;
  }

  /*---HERO-----------------------*/

  .eight-bit-alien-1, .eight-bit-alien-2, .eight-bit-alien-3 {
    height: 9.4rem;
  }

  /*---CASE STUDY-----------------*/

  .stratus-logo {
    height: 7.4rem;
  }

  .stratus-humaaans {
    height: 26rem;
  }

  .stratus-desktop-1 {
    max-height: 50rem;
  }

  .stratus-mobile {
    max-height: 40rem;
  }

  .comp-analy-logo-1, .comp-analy-logo-2, .comp-analy-logo-3 {
    height: 25.5rem;
  }

  .basic-file-management-operations-user-flow {
    height: 79.8rem;
  }

  .sharing-links-user-flow {
    height: 59.8rem;
  }

  .wireframe-sketch-1, .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-sketch-4 {
    height: 43.2rem;
    max-width: none;
  }

  .digital-wireframe-1, .digital-wireframe-2 {
    height: 38.9rem;
  }

  .digital-wireframe-3, .digital-wireframe-4 {
    height: 48.6rem;
  }

  .usability-testing-persona {
    height: 14.7rem;
  }

  .video-iframe {
    height: 46.5rem;
    width: 80rem;
  }

  .branding-sketch-1 {
    height: 42.7rem;
  }

  .branding-sketch-2 {
    height: 42.7rem;
    max-width: none;
  }

  .branding-sketch-3 {
    height: 38.4rem;
    max-width: none;
  }

  .branding-sketch-4 {
    height: 42.7rem;
    max-width: none;
  }

  .moodboard {
    height: 38.7rem;
  }

  .logo-iterations {
    height: 37.2rem;
  }

  .brand-colors {
    height: 18.4rem;
  }

  .brand-typography {
    height: 23.3rem;
    width: auto;
  }

  .right-arrow {
    height: 5rem;
  }

  .down-arrow {
    height: 5.5rem;
  }

  .highfi-mockup-1, .highfi-mockup-2 {
    height: 43.2rem;
    width: auto;
  }

  .highfi-mockup-3, .highfi-mockup-4 {
    height: 35.9rem;
    width: auto;
  }

  .highfi-mockup-5, .highfi-mockup-6 {
    height: 38.6rem;
    width: auto;
  }

  .preference-testing-1 {
    height: 35.9rem;
    width: auto;
  }

  .preference-testing-2 {
    height: 35.9rem;
    width: auto;
  }

  .preference-testing-3 {
    height: 44.1rem;
  }

  .preference-testing-4 {
    height: 44.1rem;
  }

  .document-iframe {
    height: 85rem;
    width: 80rem;
  }

  .usability-testing-results-1 {
    height: 49.1rem;
    width: auto;
  }

  .usability-testing-results-2 {
    height: 49.1rem;
    width: auto;
  }

  .usability-testing-results-3 {
    height: 26rem;
    width: auto;
  }

  .usability-testing-results-4 {
    height: 26rem;
    width: auto;
  }

  .usability-testing-results-5 {
    height: 35rem;
    width: auto;
  }

  .usability-testing-results-6 {
    height: 35rem;
    width: auto;
  }

}

/*---DESKTOP-2------------------------------------------*/

@media screen and (min-width: 1200px) {

  /*---HERO-----------------------*/

  .eight-bit-alien-1, .eight-bit-alien-2, .eight-bit-alien-3 {
    height: 11.1rem;
  }

  /*---ABOUT HERO-----------------*/

  .profile-image {
    height: 52.8rem;
  }

  /*---CASE STUDY-----------------*/

  .video-iframe {
    height: 58.2rem;
    width: 100rem;
  }

}

@media screen and (min-width: 1420px) {

  /*---CASE STUDY-----------------*/

  .video-iframe {
    height: 74.5rem;
    width: 128rem;
  }

}
