/*---LAYOUT---------------------------------------------------------------*/

/*---DESKTOP--------------------------------------------*/

@media screen and (min-width: 900px) {

  /*---HEADER---------------------*/

  header {
    min-width: 56.4rem;
    overflow: hidden;
    padding: 4rem 0;
  }

  .header-content {
    width: 82%;
  }

  .hamburger-menu, .close-nav-menu {
    display: none;
  }

  nav {
    display: block;
    float: right;
    margin: 2.7rem 0 0 0;
    position: static;
    width: auto;
  }

  .nav-links-container {
    flex-direction: row;
    margin-top: 0;
    position: static;
  }

  .nav-link {
    margin: 0 1.6rem;
  }

  /*---CONTACT--------------------*/

  .contact-content {
    height: 51.3rem;
    margin: 12.8rem 0 10.8rem -38.1rem;
    width: 76.2rem;
  }

  .resume-email-element {
    margin-left: -21.4rem;
    top: 19.2rem;
  }

  .email-element, .resume-element {
    height: 16rem;
    margin: 0 5.9rem;
    width: 9.6rem;
  }

  .email {
    margin: 2.7rem auto 2rem;
    position: relative;
  }

  .resume {
    margin-bottom: 1.6rem;
  }

  .resume-1, .resume-2 {
    margin-bottom: 1.6rem;
  }

  .social-media {
    margin-left: -24rem;
  }

  .social-media-link {
    margin: 0 3.2rem;
  }

  /*---HERO-----------------------*/

  .hero {
    min-height: 82.5rem;
  }

  .hamburger-menu-backing-hero-curtain, .hamburger-menu-backing {
    display: none;
  }

  .hero-content {
    height: 43.5rem;
    margin: -21.75rem 0 0 -39.6rem;
    width: 79.2rem;

  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-moz-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-ms-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-o-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  .hero-content h1 {
    left: 0%;
    margin-left: 0;
    top: 9.5rem;
  }

  .intro {
    text-align: left;
    top: 19.7rem;
    width: 59.3rem;
  }

  .eight-bit-alien-1 {
    right: 12.9rem;
    top: 0;
  }

  .eight-bit-alien-2 {
    margin-top: -4.75rem;
    right: 0;
    top: 50%;
  }

  .eight-bit-alien-3 {
    bottom: 0;
    left: auto;
    right: 12.9rem;
  }

  .eight-bit-alien-1 {
    animation: fadein2 0s;
  }

  .eight-bit-alien-2, .eight-bit-alien-3 {
    animation: fadein3 0s;
  }

  .my-work-element {
    bottom: 4rem;
    margin-left: -4.75rem;
  }

  /*---WORK-----------------------*/

  .work-content {
    grid-gap: 6.4rem;
    grid-template-columns: 1fr 1fr;
    margin: 7.2rem auto;
    max-width: 106.4rem;
    min-width: 73.7rem;
    width: 73%;
  }

  .project-card:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);

    animation: slidein 0.5s forwards;
    -webkit-animation: slidein 0.5s forwards;
    -moz-animation: slidein 0.5s forwards;
    -ms-animation: slidein 0.5s forwards;
    -o-animation: slidein 0.5s forwards;

  }

  @keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-webkit-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-moz-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-ms-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-o-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  /*---ABOUT HERO-----------------*/

  .about-hero {
    height: 100vh;
    min-height: 82.5rem;
  }

  .hamburger-menu-backing-about-hero-curtain {
    display: none;
  }

  .about-hero-content {
    height: 45.9rem;
    margin: -23rem 0 0 -36.75rem;
    top: 50%;
    width: 73.5rem;
  }

  .profile-image {
    border: 0.6rem solid #E3E3E3;
    border-radius: 0.2rem;
    border-style: inset;
    bottom: 0;
  }

  .eight-bit-textbox {
    border: 0.6rem solid #FFFFFF;
    border-radius: 0.2rem;
    padding: 2rem 0 2rem 3.2rem;
    width: 49.5rem;
  }

  .about-hero-content h1 {
    left: 31rem;
    top: 20rem;
  }

  .about-intro {
    left: 31rem;
    top: 28.2rem;
    width: 45rem;
  }

  .read-more-element {
    bottom: 4rem;
    margin-left: -5.85rem;
  }

  /*---BIO----------------------*/

  .bio .img-container {
    display: block;
  }

  .about-desktop-heading {
    display: inline-block;
  }

  .about-desktop-list-item {
    display: list-item;
  }

  .about-mobile-heading, .about-mobile-list-item {
    display: none;
  }

  .quote-container {
    height: 20.2rem;
  }

  .quote {
    height: 11.7rem;
    margin: 2.4rem 0 0 -32.5rem;
    width: 65rem;
  }

  blockquote {
    width: 60rem;
  }

  /*---CASE STUDY-----------------*/ /*******************************************************************/

  /*---SECTIONS-------*/

  .section-break {
    margin: 14rem auto 0;
    width: 75%;
  }

  .section-title {
    left: 0;
    padding: 0 5rem 0 0;
    transform: none;
  }

  /*---CONTAINERS-----*/

  .text-container {
    width: 60rem;
  }

  .img-container {
    margin: 4rem auto 0;
    min-width: 60rem;
    overflow: auto;
    width: 70%;
  }

  .flex-content, .flex-content-alt {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 4rem;
    min-width: 60rem;
    width: 90%;
  }

  .flex-content-alt {
    flex-wrap: wrap-reverse;
  }

  .flex-text-container {
    padding: 0 2rem;
    text-align: left;
    width: 60rem;
  }

  .flex-img-container {
    margin-top: 4rem;
    overflow: auto;
    padding: 0 2rem;
  }

  /*---BUTTONS--------*/

  .user-survey, .competitive-analysis, .user-personas, .user-stories-flows, .wireframes, .branding,
  .highfi-mockups, .preference-testing, .usability-testing, .final-product, .what-i-learned, .final-thanks {
    text-align: center;
  }

  .button-wrapper {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 1.6rem auto 4.8rem;
    overflow: hidden;
  }

  /*---"HERO"--------*/ /*******************************************************************/

  .case-study-hero {
    overflow: auto;
  }

  .case-study-hero-content {
    margin-top: 21.6rem;
    text-align: center;
  }

  .stratus-logo {
    margin: 0 auto;
  }

  .case-study-intro {
    margin: 1.6rem auto 0;
    width: 62.5rem;
  }

  .case-study-hero-img-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto 1.6rem;
    max-width: 126rem;
    min-width: 62.5rem;
    width: 78.5%;
  }

  .stratus-humaaans {
    padding-top: 1.6rem;
  }

  .stratus-simple-structured-seamless {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 0 3.2rem 1.6rem;
  }

  .case-study-hero-content p {
    margin: 0 auto;
    text-align: left;
    width: 62.5rem;
  }

  /*---OVERVIEW------*/

  .roles-deliverables-tools {
    height: 88rem;
    margin: 4rem auto 3.2rem;
    position: relative;
    width: 58.8rem;
  }

  .role, .tools {
    border-bottom: 0.1rem solid #878787;
    height: 42.5rem;
    position: absolute;
    bottom: 0;
    width: 22.7rem;
  }

  .role {
    left: 11.4%;
  }

  .deliverables {
    border-bottom: 0.1rem solid #878787;
    top: 0;
    height: 40rem;
    left: 50%;
    margin-left: -28.4rem;
    position: absolute;
    width: 56.8rem;
  }

  .tools {
    border-left: 0.1rem solid #878787;
    right: 11.4%;
  }

  .role-icon, .deliverables-icon, .tools-icon {
    margin: 0 auto;
  }

  .role-icon {
    padding: 0.3rem 0;
  }

  .deliverables-icon {
    padding-right: 1.6rem;
  }

  .role h4, .deliverables h4, .tools h4 {
    display: block;
    margin: 1.6rem auto 0;
    padding: 0;
  }

  .role h4 {
    width: 4.8rem;
  }

  .deliverables h4 {
    padding-right: 1.6rem;
    width: 13rem;
  }

  .tools h4 {
    width: 5.9rem;
  }

  .role .overview-list, .tools .overview-list {
    margin: 3.2rem auto 0;
  }

  .border-break-role, .border-break-tools {
    bottom: 0;
    height: 4rem;
    position: absolute;
    width: 0.1rem;
  }

  .border-break-role {
    right: -0.1rem;
  }

  .border-break-tools {
    left: -0.1rem;
  }

  .role .overview-list {
    width: 12.1rem;
  }

  .deliverables .overview-list {
    margin: 2rem auto 0;
    position: relative;
  }

  .tools .overview-list {
    width: 12.5rem;
  }

  .overview-list li {
    margin: 1.2rem 0;
  }

  .list-pt-1 {
    left: 7.1rem;
    position: absolute;
  }

  .list-pt-2 {
    position: absolute;
    right: 5.6rem;
  }

  /*---USER SURVEY---*/

  .chartjs-wrapper {
    border-radius: 0.4rem;
    margin: 2rem auto 4rem;
    max-width: 85rem;
    padding: 5%;
  }

  .chartjs-wrapper h5 {
    margin: 0 auto;
    max-width: 50rem;
    padding-bottom: 5.6rem;
    width: 80%;
  }

  .user-survey-stat-container {
    margin-bottom: 4.8rem;
    overflow: auto;
    padding: 5.6rem 0;
  }

  .user-survey-stat {
    margin: 0 auto;
    text-align: left;
    width: 60rem;
  }

  /*---COMP ANALY----*/

  .comp-analy-images {
    height: 55rem;
    margin: 0 2rem;
    position: relative;
    width: 55rem;
  }

  .comp-analy-logo-1, .comp-analy-logo-2, .comp-analy-logo-3 {
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    position: absolute;
  }

  .comp-analy-logo-2 {
    right: 0;
  }

  .comp-analy-logo-3 {
    bottom: 0.8rem;
    left: 50%;
    margin-left: -12.8rem;
  }

  /*---USER PERSONAS---*/

  .user-persona-card {
    border-radius: 0.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 111rem;
    margin-bottom: 1rem;
    overflow: auto;
    position: relative;
    width: 32.7rem;
  }

  .user-persona {
    left: 50%;
    margin-left: -12.5rem;
    position: absolute;
  }

  .persona-background {
    border-radius: 0.4rem 0.4rem 0 0;
    height: 27.2rem;
    position: absolute;
    width: 32.7rem;
  }

  .user-persona-content {
    position: relative;
    text-align: left;
    top: 27.2rem;
  }

  .user-persona-job {
    display: inline-block;
    padding: 0 0.8rem;
    position: absolute;
    right: 0;
    top: -5.8rem;
  }

  .user-persona-card-title {
    margin: 3.2rem auto 2.4rem;
    text-align: center;
  }

  .user-persona-scale {
    margin: 0 auto 0.8rem;
  }

  .user-persona-scale-basic, .user-persona-scale-pro, .user-persona-scale-expert{
    margin-top: 0.8rem;
    text-align: center;
  }

  .user-persona-scale-basic {
    margin-right: 13.5rem;
  }

  .user-persona-scale-expert {
    margin-left: 13.5rem;
  }

  .user-persona-text {
    padding: 2.4rem;
  }

  .user-persona-card-subtitle {
    margin: 2.4rem 0 1.6rem;
  }

  .user-persona-list {
    list-style: initial;
    margin-left: 1.6em;
  }

  .user-persona-list li {
    margin: 0.8rem 0;
  }

  .user-persona-big-quotation-mark-1, .user-persona-big-quotation-mark-2, .user-persona-big-quotation-mark-3 {
    left: 2.3rem;
    position: absolute;
    top: 10.5rem;
  }

  .user-persona-quote {
    text-indent: 2.4rem;
  }

  /*---USER STORIES & FLOWS--*/

  table {
    border-collapse: collapse;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 auto 4.8rem;
  }

  .first-column, .first-column-title {
    width: 16rem;
  }

  .first-column {
    text-align: right;
  }

  table, th, td {
    border: 0.1rem solid #121212;
    text-align: left;
  }

  th, td {
    padding: 0.8rem 2rem;
  }

  .basic-file-management-operations-user-flow, .sharing-links-user-flow {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }

  .user-stories-flows .button-wrapper {
    margin: 1.6rem 2rem 4.8rem;
  }

  /*---WIREFRAMES----*/

  .wireframe-sketches {
    margin: 6rem 0 8rem;
  }

  .wireframe-sketches-container-1, .wireframe-sketches-container-2 {
    height: 54rem;
    position: relative;
    width: 70rem;
  }

  .wireframe-sketches-container-1, .wireframe-sketches-container-2 {
    margin: -4rem -10rem;
  }

  .wireframe-sketch-1, .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-sketch-4 {
    border-radius: 0.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 6rem;
  }

  .wireframe-sketch-1, .wireframe-sketch-3 {
    left: 4rem;
    margin: 0;
    transform: rotate(-10deg);
  }

  .wireframe-sketch-2, .wireframe-sketch-4 {
    margin: 0;
    right: 4rem;
    transform: rotate(10deg);
  }

  .digital-wireframe {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }

  /*---USABILITY TESTING 1---*/

  .usability-testing-container {
    margin: 4rem auto;
    overflow: auto;
    width: 55rem;
  }

  .usability-testing-persona-element {
    float: left;
    width: 14.7rem;
  }

  .usability-testing-persona {
    border-radius: 0.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  }

  .usability-testing-persona-element p {
    font-weight: bold;
    margin-top: 1.6rem;
  }

  .usability-testing-tasks-element {
    float: right;
    margin-top: 2.4rem;
    text-align: left;
    width: 32rem;
  }

  .usability-testing-tasks-element h6 {
    margin-left: -1.6rem;
  }

  ol {
    list-style: decimal;
  }

  .tasks-list li {
    margin: 0.8rem 0;
  }

  .video-iframe {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin-bottom: 4rem;
  }

  /*---BRANDING------*/

  .branding .button-wrapper {
    margin-top: 5.6rem;
  }

  .branding .flex-content, .branding .flex-content-alt {
    margin-bottom: 0;
  }

  .branding .flex-content .flex-text-container, .branding .flex-content-alt .flex-text-container {
    margin-top: 4rem;
  }

  .branding-sketch-1, .branding-sketch-2, .branding-sketch-3, .branding-sketch-4 {
    border-radius: 0.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }

  .branding-sketch-1 {
    margin: 2rem 0;
  }

  .branding-sketch-2 {
    transform: rotate(-10deg);
  }

  .branding-sketch-3 {
    transform: rotate(10deg);
  }

  .branding-sketch-4 {
    z-index: 1;
  }

  .branding-sketch-3, .branding-sketch-4 {
    margin: -2rem 0 4rem;
  }

  .moodboard, .logo-iterations, .brand-colors, .brand-typography {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }

  /*---HIGHFI MOCKUPS---*/

  .highfi-mockups-img-overlay-1 {
    height: 90.3rem;
    position: relative;
    width: 61.6rem;
  }

  .highfi-mockups-img-overlay-2 {
    height: 36.9rem;
    position: relative;
    width: 44.2rem;
  }

  .highfi-mockups-img-overlay-3 {
    height: 39.6rem;
    margin-top: 4rem;
    position: relative;
    width: 44.2rem;
  }

  .highfi-mockup-1 {
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .highfi-mockup-2 {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
  }

  .down-arrow, .right-arrow {
    left: 50%;
    margin: -2.5rem 0 0 -2.5rem;
    position: absolute;
    top: 50%;
    z-index: 1;
  }

  .highfi-mockup-3, .highfi-mockup-5 {
    left: 0;
    position: absolute;
    top: 0;
  }

  .highfi-mockup-4, .highfi-mockup-6 {
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .highfi-mockup-1, .highfi-mockup-2, .highfi-mockup-3, .highfi-mockup-4,
   .highfi-mockup-5, .highfi-mockup-6 {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }

  /*---PREFERENCE TESTING---*/

  .preference-test-img-overlay-1 {
    height: 58.7rem;
    position: relative;
    width: 57.5rem;
  }

  .preference-test-img-overlay-2 {
    height: 54.5rem;
    position: relative;
    width: 37.1rem;
  }

  .preference-testing-2, .preference-testing-4 {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
  }

  .preference-testing-1, .preference-testing-2, .preference-testing-3, .preference-testing-4 {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }

  /*---USABILITY TESTING 2---*/

  .document-iframe {
   border: 0.1rem solid #878787;
   box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
   margin-bottom: 4rem;
  }

  .usability-test-img-overlay-1 {
    height: 102.1rem;
    position: relative;
    width: 69.5rem;
  }

  .usability-test-img-overlay-2 {
    height: 53.2rem;
    margin-top: 4rem;
    position: relative;
    width: 40.4rem;
  }

  .usability-test-img-overlay-3 {
    height: 36rem;
    margin-top: 4rem;
    position: relative;
    width: 42.4rem;
  }

  .usability-testing-results-1, .usability-testing-results-3, .usability-testing-results-5 {
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .usability-testing-results-2, .usability-testing-results-4 {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
  }

  .usability-testing-results-6 {
    left: 0;
    position: absolute;
    top: 0;
  }

  .usability-testing-results-1, .usability-testing-results-2, .usability-testing-results-3,
   .usability-testing-results-4, .usability-testing-results-5, .usability-testing-results-6 {
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }

  /*---CONCLUSION---*/

  .stratus-on-devices-2 {
    margin: 0 auto;
  }

  .final-thanks {
    margin: 7.2rem 0 8.8rem;
  }

  .back-to-top-element {
    position: relative;
  }

  .case-study-main {
    padding-bottom: 6.4rem;
  }


  /*---MEDIA QUERIES--------------------------------------------------------*/

  @media screen and (min-width: 1200px) {

    /*---HERO-----------------------*/

    .hero-content {
      height: 51.3rem;
      margin: -23.65rem 0 0 -46.7rem;
      top: 45%;
      width: 93.4rem;
    }

    @keyframes fadein {
      0% {
        opacity: 0;
        width: 0;
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
        width: 94.4rem;
      }
    }

    @-webkit-keyframes fadein {
      0% {
        opacity: 0;
        width: 0;
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
        width: 94.4rem;
      }
    }

    @-moz-keyframes fadein {
      0% {
        opacity: 0;
        width: 0;
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
        width: 94.4rem;
      }
    }

    @-ms-keyframes fadein {
      0% {
        opacity: 0;
        width: 0;
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
        width: 94.4rem;
      }
    }

    @-o-keyframes fadein {
      0% {
        opacity: 0;
        width: 0;
      }
      30% {
        opacity: 0;
      }
      60% {
        opacity: 1;
        width: 94.4rem;
      }
    }

    .hero-content h1 {
      top: 11.2rem;
    }

    .intro {
      top: 23.2rem;
      width: 70rem;
    }

    .eight-bit-alien-1 {
      right: 15.2rem;
    }

    .eight-bit-alien-2 {
      margin-top: -5.55rem;
    }

    .eight-bit-alien-3 {
      right: 15.2rem;
    }

    /*---ABOUT HERO-----------------*/

    .about-hero-content {
      height: 56rem;
      left: 50%;
      margin: -23.65rem 0 0 -45rem;
      top: 45%;
      width: 90rem;
    }

    .eight-bit-textbox {
      padding: 2.4rem 0 2.4rem 4rem;
      width: 60.5rem;
    }

    .about-hero-content h1 {
      left: 36rem;
      top: 21.8rem;
    }

    .about-intro {
      left: 36rem;
      top: 30.8rem;
      width: 55rem;
    }

    /*---CASE STUDY-OVERVIEW--------*/

    .roles-deliverables-tools {
      height: 42.6rem;
      width: 104rem;
    }

    .role {
      border-right: 0.1rem solid #878787;
      left: 0;
    }

    .deliverables {
      bottom: 0;
      height: 42.5rem;
      margin-left: -29.4rem;
      width: 58.8rem;
    }

    .tools {
      right: 0;
    }

  }

}
