/*---LAYOUT---------------------------------------------------------------*/

/*---DESKTOP--------------------------------------------*/

@media screen and (min-width: 900px) {

  /*---HEADER---------------------*/

  header {
    min-width: 56.4rem;
    overflow: hidden;
    padding: 4rem 0;
  }

  .header-content {
    width: 82%;
  }

  .hamburger-menu, .close-nav-menu {
    display: none;
  }

  nav {
    display: block;
    float: right;
    margin: 2.7rem 0 0 0;
    position: static;
    width: auto;
  }

  .nav-links-container {
    flex-direction: row;
    margin-top: 0;
    position: static;
  }

  .nav-link {
    margin: 0 1.6rem;
  }

  /*---CONTACT--------------------*/

  .contact-content {
    height: 51.3rem;
    margin: 12.8rem 0 10.8rem -38.1rem;
    width: 76.2rem;
  }

  .resume-email-element {
    margin-left: -21.4rem;
    top: 21rem;
  }

  .email-element, .resume-element {
    height: 16rem;
    margin: 0 5.9rem;
    width: 9.6rem;
  }

  .email {
    margin: 2.7rem auto 2rem;
  }

  .resume {
    margin-bottom: 1.6rem;
  }

  .resume-1, .resume-2 {
    margin-bottom: 1.6rem;
  }

  .social-media {
    margin-left: -24rem;
  }

  .social-media-link {
    margin: 0 3.2rem;
  }

  /*---HERO-----------------------*/

  .hero {
    min-height: 82.5rem;
  }

  .hamburger-menu-backing-hero-curtain, .hamburger-menu-backing {
    display: none;
  }

  .hero-content {
    height: 43.5rem;
    margin: -21.75rem 0 0 -39.6rem;
    top: 50%;
    width: 79.2rem;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-moz-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-ms-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  @-o-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 80rem;
    }
  }

  .hero-content h1 {
    left: 0%;
    margin-left: 0;
    top: 9.5rem;
  }

  .intro {
    text-align: left;
    top: 19.7rem;
    width: 59.3rem;
  }

  .eight-bit-alien-1 {
    margin: 0;
    right: 12.9rem;
    top: 0;
  }

  .eight-bit-alien-2 {
    margin-top: -4.75rem;
    right: 0;
    top: 50%;
  }

  .eight-bit-alien-3 {
    bottom: 0;
    left: auto;
    right: 12.9rem;
  }

  .eight-bit-alien-1 {
    animation: fadein2 0s;
  }

  .eight-bit-alien-2, .eight-bit-alien-3 {
    animation: fadein3 0s;
  }

  .my-work-element {
    bottom: 4rem;
    margin-left: -4.75rem;
  }

  /*---WORK-----------------------*/

  .work-content {
    grid-gap: 6.4rem;
    grid-template-columns: 1fr 1fr;
    margin: 7.2rem auto;
    max-width: 106.4rem;
    min-width: 73.7rem;
    width: 73%;
  }

  .project-card:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.25);

    animation: slidein 0.5s forwards;
    -webkit-animation: slidein 0.5s forwards;
    -moz-animation: slidein 0.5s forwards;
    -ms-animation: slidein 0.5s forwards;
    -o-animation: slidein 0.5s forwards;

  }

  @keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-webkit-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-moz-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-ms-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  @-o-keyframes slidein {
    from{
    transform: translate(0, 0);
    }
    to{
    transform: translate(-1rem, -1rem);
    }
  }

  /*---ABOUT HERO-----------------*/

  .about-hero {
    height: 100vh;
    min-height: 82.5rem;
  }

  .hamburger-menu-backing-about-hero-curtain {
    display: none;
  }

  .about-hero-content {
    height: 45.9rem;
    margin: -23rem 0 0 -36.75rem;
    top: 50%;
    width: 73.5rem;
  }

  .profile-image {
    border: 0.6rem solid #E3E3E3;
    border-radius: 0.2rem;
    border-style: inset;
  }

  .eight-bit-textbox {
    border: 0.6rem solid #FFFFFF;
    border-radius: 0.2rem;
    padding: 2rem 0 2rem 3.2rem;
    right: 0;
    width: 49.5rem;
  }

  .about-hero-content h1 {
    left: 31rem;
    top: 20rem;
  }

  .about-intro {
    left: 31rem;
    top: 28.2rem;
    width: 45rem;
  }

  .read-more-element {
    bottom: 4rem;
    margin-left: -5.85rem;
  }

  /*---BIO----------------------*/

  .bio .img-container {
    display: block;
  }

  .about-desktop-list-item {
    display: list-item;
  }

  .about-mobile-list-item {
    display: none;
  }

  .quote {
    max-width: 68rem;
  }

  /*---CASE STUDY-----------------*/ /*******************************************************************/

  /*---SECTIONS-------*/

  .section-break {
    margin: 14rem auto 0;
    width: 75%;
  }

  .section-title {
    left: 0;
    padding: 0 5rem 0 0;
    transform: none;
  }

  /*---CONTAINERS-----*/

  .text-container {
    max-width: none;
    width: 60rem;
  }

  .flex-text-container {
    width: 60rem;
  }

  /*---"HERO"--------*/ /*******************************************************************/

  .case-study-intro {
    width: 62.5rem;
  }

  .case-study-hero-img-container {
    max-width: 126rem;
  }

  .stratus-humaaans {
    display: block;
    padding-top: 1.6rem;
  }

  .stratus-on-devices-1 {
    margin-top: 0;
  }

  .stratus-simple-structured-seamless {
    display: block;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 0 3.2rem 1.6rem;
  }

  .case-study-hero-content p {
    max-width: none;
    width: 62.5rem;
  }

  /*---CONTAINERS-----*/

  .flex-img-container {
    max-width: none;
    padding: 0 2rem;
  }

  /*---USER SURVEY---*/

  .chartjs-wrapper-1, .chartjs-wrapper-2 {
    padding-bottom: 18rem;
  }

  .user-survey-stat {
    max-width: none;
    text-align: left;
    width: 60rem;
  }

  /*---COMP ANALY----*/

  .comp-analy-images {
    height: 54rem;
    margin: 0 2rem;
    width: 53rem;
  }

  .comp-analy-logo-1 {
    left: auto;
  }

  .comp-analy-logo-2 {
    right: 0;
  }

  .comp-analy-logo-3 {
    margin-left: -12.8rem;
  }

  /*---USER PERSONAS---*/

  .user-persona-card {
    height: 115rem;
    width: 32.7rem;
  }

  .persona-background {
    width: 32.7rem;
  }

  .user-persona-job {
    top: -6.65rem;
  }

  .user-persona-big-quotation-mark-1, .user-persona-big-quotation-mark-2, .user-persona-big-quotation-mark-3 {
    top: 10.5rem;
  }

  /*---USER STORIES & FLOWS--*/

  .information-architecture .section-break .section-title {
    margin-top: 0;
  }

  .info-arch-line-break {
    display: none;
  }

  .user-stories-flows .img-container {
    display: block;
  }

  table {
    border-collapse: collapse;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 auto 4.8rem;
  }

  .first-column, .first-column-title {
    width: 16rem;
  }

  .first-column {
    text-align: right;
  }

  table, th, td {
    border: 0.1rem solid #121212;
    text-align: left;
  }

  th, td {
    padding: 0.8rem 2rem;
  }

  .user-stories-flows .button-wrapper {
    margin: 1.6rem 2rem 4.8rem;
  }

  /*---WIREFRAMES----*/

  .wireframes .wireframe-sketches {
    overflow: hidden;
  }

  .wireframe-sketches {
    margin: 6rem 0 8rem;
  }

  .wireframe-sketches-container-1, .wireframe-sketches-container-2 {
    height: 54rem;
    margin: -4rem -10rem;
    max-width: none;
    position: relative;
    width: 70rem;
  }

  .wireframe-sketch-1, .wireframe-sketch-2, .wireframe-sketch-3, .wireframe-sketch-4 {
    border-radius: 0.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin-top: 0;
    position: absolute;
    top: 6rem;
  }

  .wireframe-sketch-1, .wireframe-sketch-3 {
    left: 4rem;
    margin: 0;
    transform: rotate(-10deg);
  }

  .wireframe-sketch-2, .wireframe-sketch-4 {
    margin: 0;
    right: 4rem;
    transform: rotate(10deg);
  }

  /*---USABILITY TESTING 1---*/

  .usability-testing-container {
    margin: 4rem auto;
    width: 55rem;
  }

  .usability-testing-persona-element {
    width: 14.7rem;
  }

  .usability-testing-tasks-element {
    margin: 2.4rem 0 0 22rem;
    width: 32rem;
  }

  /*---BRANDING------*/

  .branding .flex-img-container {
    max-width: none;
  }

  .branding-sketch-1 {
    margin: 2rem 2rem -10rem;
  }

  .branding-sketch-2 {
    transform: rotate(-10deg);
  }

  .branding-sketch-3 {
    margin: -8rem 0 0 0;
    transform: rotate(0deg);
  }

  .branding-sketch-4 {
    margin: -4rem 0 0 -4rem;
    transform: rotate(5deg);
  }

  /*---HIGHFI MOCKUPS---*/

  .highfi-mockups-img-overlay-1 {
    height: 90.3rem;
    width: 61.6rem;
  }

  .highfi-mockups-img-overlay-2 {
    height: 36.9rem;
    width: 44.2rem;
  }

  .highfi-mockups-img-overlay-3 {
    height: 39.6rem;
    width: 44.2rem;
  }

  .highfi-mockup-3, .highfi-mockup-5 {
    left: 0;
  }

  .highfi-mockup-6 {
    right: 0.75rem;
  }

  .down-arrow, .right-arrow {
    margin: -2.5rem 0 0 -2.5rem;
  }

  /*---PREFERENCE TESTING---*/

  .preference-test-img-overlay-1 {
    height: 58.7rem;
    width: 57.5rem;
  }

  .preference-test-img-overlay-2 {
    height: 54.5rem;
    width: 37.1rem;
  }

  .preference-testing-2, .preference-testing-4 {
    bottom: 1rem;
    right: 1rem;
  }

  /*---USABILITY TESTING 2---*/

  .document-iframe {
    display: block;
    border: 0.1rem solid #878787;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin: 0 auto 4rem;
  }

  .usability-test-img-overlay-1 {
    height: 102.1rem;
    width: 69.5rem;
  }

  .usability-test-img-overlay-2 {
    height: 56rem;
    margin-top: 4rem;
    width: 42.4rem;
  }

  .usability-test-img-overlay-3 {
    height: 36rem;
    width: 42.4rem;
  }

  .usability-testing-results-5 {
    left: 0;
  }

  /*---CONCLUSION---*/

  .final-thanks {
    margin: 7.2rem 0 14.4rem;
  }

  .back-to-top-element {
    left: 50%;
    margin: -8rem 0 0 -8rem;
    position: absolute;
    width: 16rem;
  }

}

/*---MEDIA QUERIES--------------------------------------------------------*/

@media screen and (min-width: 1200px) {

  /*---HERO-----------------------*/

  .hero-content {
    height: 51.3rem;
    margin: -23.65rem 0 0 -46.7rem;
    top: 45%;
    width: 93.4rem;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 94.4rem;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 94.4rem;
    }
  }

  @-moz-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 94.4rem;
    }
  }

  @-ms-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 94.4rem;
    }
  }

  @-o-keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 1;
      width: 94.4rem;
    }
  }

  .hero-content h1 {
    top: 11.2rem;
  }

  .intro {
    top: 23.2rem;
    width: 70rem;
  }

  .eight-bit-alien-1 {
    right: 15.2rem;
  }

  .eight-bit-alien-2 {
    margin-top: -5.55rem;
  }

  .eight-bit-alien-3 {
    right: 15.2rem;
  }

  /*---ABOUT HERO-----------------*/

  .about-hero-content {
    height: 56rem;
    left: 50%;
    margin: -23.65rem 0 0 -45rem;
    top: 45%;
    width: 90rem;
  }

  .eight-bit-textbox {
    padding: 2.4rem 0 2.4rem 4rem;
    width: 60.5rem;
  }

  .about-hero-content h1 {
    left: 36rem;
    top: 21.8rem;
  }

  .about-intro {
    left: 36rem;
    top: 30.8rem;
    width: 55rem;
  }

  /*---CASE STUDY-OVERVIEW--------*/

  .roles-deliverables-tools {
    height: 42.6rem;
    width: 104rem;
  }

  .role, .tools {
    height: 42.6rem;
  }

  .role {
    border-right: 0.1rem solid #878787;
    left: 0;
  }

  .deliverables {
    bottom: 0;
    height: 42.5rem;
    margin-left: -29.4rem;
    width: 58.8rem;
  }

  .tools {
    right: 0;
  }

  .list-pt-1 {
    left: 9.5rem;
  }

  .list-pt-2 {
    right: 9.4rem;
  }

}

@media screen and (min-width: 1389px) {

  .moodboard, .logo-iterations, .brand-colors, .brand-typography {
    margin-bottom: -4rem;
  }

  .branding .button-wrapper {
    margin-top: 5.6rem;
  }

}
