/*---TYPOGRAPHY-----------------------------------------------------------*/

html {
  font-size: 10px; /* 1rem = 10px */
}

/*---MOBILE-1---------------------------------------*/

body, p, div {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 167.23%;
}

.home-about-title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.6rem;
  line-height: 100%;
}

.contact-cta {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.6rem;
  line-height: 173%;
}

.eight-bit-textbox {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
  line-height: 173%;
}

.large-heading {
  font-size: 3.4rem;
  line-height: 120%;
}

.case-study-intro {
  font-size: 2.4rem;
}

.main-heading {
  font-size: 2.4rem;
  line-height: 120%;
}

.sub-heading {
  font-size: 2rem;
  line-height: 120%;
}

.sub-sub-heading {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 120%;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.nav-link {
  font-size: 3.4rem;
}

.label {
  font-size: 2rem;
}

.email-element .label, .resume-element .label {
  line-height: 120%;
}

.label-2 {
  font-size: 1.6rem;
}

.button-style-1, .button-style-2, .button-style-3 {
  font-weight: 500;
  line-height: 100%;
}

.intro {
  font-size: 2.4rem;
  line-height: 167.23%;
}

.about-intro {
  font-size: 1.6rem;
}

.caption {
  font-style: italic;
}

.mobile-heading-text-fix-1 {
  line-height: 140%;
}

.big-quotation-mark {
  font-size: 9.6rem;
}

blockquote p {
  font-size: 2.4rem;
}

.closing {
  font-size: 2.4rem;
}

.case-study-hero-content p {
  font-size: 1.6rem;
}

.overview-list li {
  font-size: 1.4rem;
}

.chartjs-wrapper-1 .sub-heading, .chartjs-wrapper-2 .sub-heading, .chartjs-wrapper-3 .sub-heading, .chartjs-wrapper-4 .sub-heading, .chartjs-wrapper-5 .sub-heading,
.chartjs-wrapper-6 .sub-heading {
  font-size: 1.8rem;
  line-height: 160%;
}

.user-survey-stat {
  font-size: 1.8rem;
}

.user-persona-big-quotation-mark-1, .user-persona-big-quotation-mark-2, .user-persona-big-quotation-mark-3 {
  font-size: 7.2rem;
}

.user-persona-card-title {
  font-size: 2.4rem;
  line-height: 120%;
}

.user-persona-card-subtitle {
  font-size: 2rem;
  line-height: 120%;
}

.usability-testing-persona-element p {
  font-weight: bold;
}

.before, .after, .percentage {
  font-weight: bold;
}

.final-thanks {
  font-size: 2.4rem;
}

/*---MOBILE-2---------------------------------------*/

@media screen and (min-width: 600px) {

  .home-about-title {
    font-size: 3.4rem;
  }

  .eight-bit-textbox {
    font-size: 2rem;
  }

  .about-intro {
    font-size: 1.6rem;
  }

  .mobile-heading-text-fix-1 {
    line-height: 120%;
  }

  .overview-list li {
    font-size: 1.8rem;
  }

}

/*---DESKTOP-1------------------------------------------*/

@media screen and (min-width: 900px) {

  body, p, div {
    font-size: 1.6rem;
    line-height: 173%;
  }

  .home-about-title {
    font-size: 4.8rem;
  }

  .contact-cta {
    font-size: 4.8rem;
    line-height: 180%;
  }

  .eight-bit-textbox {
    font-size: 2.8rem;
    line-height: 180%;
  }

  .case-study-intro {
    font-size: 3.4rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .label {
    font-size: 2.4rem;
  }

  .label-2 {
    font-size: 2rem;
  }

  .intro {
    font-size: 3rem;
    line-height: 173%;
  }

  .about-intro {
    font-size: 2rem;
  }

  .case-study-hero-content p {
    font-size: 2rem;
  }

  .chartjs-wrapper-1 .sub-heading, .chartjs-wrapper-2 .sub-heading, .chartjs-wrapper-3 .sub-heading, .chartjs-wrapper-4 .sub-heading, .chartjs-wrapper-5 .sub-heading,
  .chartjs-wrapper-6 .sub-heading {
    font-size: 2.4rem;
    line-height: 167.2%;
  }

  .user-survey-stat {
    font-size: 2.4rem;
  }

  .table-column-title {
    font-size: 2rem;
  }

  table, th, td {
    font-size: 1.4rem;
  }

  .final-thanks {
    font-size: 3.4rem;
  }

}

/*---DESKTOP-2------------------------------------------*/

@media screen and (min-width: 1200px) {

  .home-about-title {
    font-size: 5.6rem;
  }

  .eight-bit-textbox {
    font-size: 3.2rem;
  }

  .intro {
    font-size: 3.4rem;
  }

  .about-intro {
    font-size: 2.4rem;
  }

}
