/*---TYPOGRAPHY-----------------------------------------------------------*/

html {
  font-size: 10px; /* 1rem = 10px */
}

/*---MOBILE---------------------------------------------*/

body, p, div {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 167.23%;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.6rem;
  line-height: 100%;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.6rem;
  line-height: 167.23%;
}

h3 {
  font-size: 3.4rem;
  line-height: 120%;
}

h4 {
  font-size: 2.4rem;
  line-height: 120%;
}

h5 {
  font-size: 2rem;
  line-height: 120%;
}

h6 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 120%;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.nav-link {
  font-size: 3.4rem;
}

.label {
  font-size: 2rem;
}

.button-style-1, .button-style-2, .button-style-3 {
  font-weight: medium;
  line-height: 100%;
}

.intro {
  font-size: 2.4rem;
}

.about-intro {
  font-size: 1.6rem;
}

.eight-bit-textbox {
  font-size: 2rem;
}

.big-quotation-mark {
  font-size: 9.6rem;
}

blockquote p {
  font-size: 2.4rem;
}

.closing {
  font-size: 2.4rem;
}

.case-study-hero-content p {
  font-size: 1.4rem;
}

.overview-list li {
  font-size: 1.4rem;
}

.chartjs-wrapper h5 {
  font-size: 2rem;
  line-height: 167.23%;
}

.user-survey-stat {
  font-size: 2rem;
}

.user-persona-big-quotation-mark-1, .user-persona-big-quotation-mark-2, .user-persona-big-quotation-mark-3 {
  font-size: 7.2rem;
}

.user-persona-card-title {
  font-size: 2.4rem;
  line-height: 120%;
}

.user-persona-card-subtitle {
  font-size: 2rem;
  line-height: 120%;
}

.final-thanks {
  font-size: 2rem;
}

/*---DESKTOP--------------------------------------------*/

@media screen and (min-width: 900px) {

  body, p, div {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  .label {
    font-size: 2.4rem;
  }

  .intro {
    font-size: 3rem;
  }

  .about-intro {
    font-size: 2rem;
  }

  .eight-bit-textbox {
    font-size: 2.8rem;
  }

  .case-study-hero-content p {
    font-size: 2rem;
  }

  .overview-list li {
    font-size: 2rem;
  }

  .chartjs-wrapper h5 {
    font-size: 2.4rem;
  }

  .user-survey-stat {
    font-size: 2.4rem;
  }

  .table-column-title {
    font-size: 2rem;
  }

  table, th, td {
    font-size: 1.4rem;
  }

  .final-thanks {
    font-size: 3.4rem;
  }

  @media screen and (min-width: 1200px) {

    h1 {
      font-size: 5.6rem;
    }

    .intro {
      font-size: 3.4rem;
    }

    .about-intro {
      font-size: 2.4rem;
    }

    .eight-bit-textbox {
      font-size: 3.2rem;
    }

  }

}
